<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../js/vue.min.js"></script>
    <style>
        .basic {
            padding: 5px;
            background-color: red;
        }

        .normal {
            padding: 10px;
            background-color: burlywood;
        }

        .happy {
            padding: 5px;
            background-color: green;
        }
    </style>
</head>
<body>
<div id="root">
    <h2>人员列表</h2>
    <input type="text" placeholder="请输入名字" v-model:value="keyWords">
    <button @click="sortType = 0"> 原顺序</button>
    <button @click="sortType = 1"> 升顺序</button>
    <button @click="sortType = 2"> 降顺序</button>
    <ul>
        <li v-for="person in filterPersons" :key="person.id">
            {{person.name}}-{{person.age}}
        </li>
    </ul>
</div>

<script type="text/javascript">

    var vm = new Vue({
        el: '#root',
        data: {
            keyWords: "",
            sortType: 0,
            persons: [
                {
                    id: '1',
                    name: '张三',
                    age: '14'
                },
                {
                    id: '2',
                    name: '李四',
                    age: '12'
                },
                {
                    id: '3',
                    name: '王五',
                    age: '24'
                }
            ]
        },
        methods: {

        },
        computed: {
            filterPersons: {
                get() {
                    console.log(this.sortType)
                    if (this.sortType === 0) {
                        return this.persons.filter((p) => {
                            return p.name.indexOf(this.keyWords) !== -1
                        })
                    }
                    if (this.sortType === 1) {
                        return this.persons.filter((p) => {
                            return p.name.indexOf(this.keyWords) !== -1
                        }).sort((p1, p2) => {
                            return p1.age - p2.age
                        })
                    }
                    if (this.sortType === 2) {
                        return this.persons.filter((p) => {
                            return p.name.indexOf(this.keyWords) !== -1
                        }).sort((p1, p2) => {
                            return p2.age - p1.age
                        })
                    }
                }
            }
        }
    });
</script>

</body>
</html>